body {

    font-family:
        Inter,
        ui-sans-serif,
        system-ui,
        sans-serif;
}


/*
 * Mejoramos el comportamiento visual
 * de los campos cuando reciben foco.
 */

input:focus,
textarea:focus {

    outline: none;

    box-shadow:
        0 0 0 2px
        rgba(79, 70, 229, 0.3);
}


/*
 * Eliminamos espacios entre celdas.
 */

table {

    border-collapse: collapse;
}